body {
  position: relative;
  font-family: "Play", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/poke-pattern.jpg);
  background-size: 500px;
  background-repeat: repeat; 
  opacity: 0.5; 
  z-index: -1; 
}


#app {
  max-width: 800px;
  width: 100%;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#logo{
  height: auto;
  display: block;
  margin: 5 auto;
  max-width: 30%;
}

#search {
  padding: 8px;
  width: 200px;
  font-size: 16px;
  border-radius: 8px;
  font-family: "Play", sans-serif;
}

#type-filter {
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  font-family: "Play", sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background-color: white;
  transition: transform 0.3s, box-shadow 0.3s; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.card img {
  max-width: 100%;
  height: auto;
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(218, 165, 32, 0.8), 
              0 4px 6px rgba(0, 0, 0, 0.2);
}


#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.pagination-button.active {
  background-color: #0073e6;
  color: white;
}


